@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    *{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}

/*  =====================================================================================header styling */
.header{
    @apply 
    w-full 
    h-16 
    flex 
    justify-between 
    items-center 
    py-5 
    xl:px-28 
    lg:px-20
    md:px-12
    sm:px-20
    md:border-none
    border-b-2
    border-purple-300/50
    px-14
    bg-white/30 
    backdrop-blur-md
    fixed 
    top-0
}


/*  =====================================================================================navbar for desktop */
.nav-desktop{
    @apply 
    md:flex 
    flex-row 
    text-black 
    relative 
    lg:gap-5 
    px-0 
    gap-2 
    items-center 
    text-sm 
    z-50 
    hidden
}

/*  =====================================================================================navbar for mobile view */

.nav-mobile{
    @apply 
    md:hidden
    gap-2 
    bg-gradient-to-t 
    from-custompurple1 
    via-custompurple2 
    to-custompurple3 
    text-sm 
    absolute
    flex 
    flex-col 
    right-0 
    sm:w-2/5 
    w-3/4
    top-[0px] 
    items-start 
    h-screen 
    px-5 
    z-50 
    text-white
}


/*  =====================================================================================navbar links */

.link{
    @apply 
    p-2 
    md:hover:text-purple-600 
    hover:text-neutral-400
    duration-300
}


/*  =====================================================================================seemless loop for hero page(used css) */

.container{
    margin-inline: auto;
    position: relative;
    min-height: 100px;
    overflow: hidden;
    width: 70%;
    user-select: none;
    display: flex;
    align-items: center;
    z-index: -1;
}

.container::before{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 30px;
    z-index: 1;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.container::after{
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 30px;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    animation-name: scroll-left;
}

.container > img {
    width: 150px;
    position: absolute;
    left: calc(150px * 6);
    animation-name: scroll-left;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@media screen and (max-width: 768px){
    .container > img {
        width: 100px;
        left: calc(100px * 6);
    }

    .container{
        width: 85%;
    }
}


@keyframes scroll-left{
    to{
        left: -200px;
    }
}


/* Evenly space out the items */
.container > .img1 { animation-delay: calc(10s / 6 * (6 - 1) * -1)}
.container > .img2 { animation-delay: calc(10s / 6 * (6 - 2) * -1)}
.container > .img3 { animation-delay: calc(10s / 6 * (6 - 3) * -1)}
.container > .img4 { animation-delay: calc(10s / 6 * (6 - 4) * -1)}
.container > .img5 { animation-delay: calc(10s / 6 * (6 - 5) * -1)}
.container > .img6 { animation-delay: calc(10s / 6 * (6 - 6) * -1)}


.contact-input{
    @apply 
    focus:outline-none 
    border-b-[1px] 
    border-custompurple3
    relative
    placeholder:absolute
    placeholder:bottom-2
    p-2
    w-full
}