@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    *{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}

.header{
    @apply 
    w-full 
    h-16 
    flex 
    justify-between 
    items-center 
    py-5 
    xl:px-28 
    lg:px-20
    md:px-12
    sm:px-20
    sm:border-none
    border-b-2
    border-purple-300/50
    px-14
    bg-white/30 
    backdrop-blur-md
    fixed top-0
}

.link{
    @apply 
    p-2 
    hover:text-purple-600 
    duration-300
}